html,
body {
    color: #525252;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
    background: #343434 url('../img/background.png') repeat;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}

.content {
    text-align: center;
    margin-top: -10%;
}

#title {
    font-size: 80px;
}

#sub-title {
    font-size: 34px;
}

.links > a {
    color: #525252;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.typed-cursor {
    font-size: 24px;
    opacity: 0.7;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a:hover,
a:focus {
    color: #1782C4;
}

#avatar {
    background-image: url('../img/avatar.jpg');
    height: 180px;
    width: 180px;
    margin: auto;
    border-radius: 100%;
    opacity: 1;
    transition: .5s ease-in-out;
}

#avatar:hover {
    opacity: 1;
    transition: .5s ease-in-out;
    background-image: url('../img/xdefcon.jpg');
    margin: auto;
    height: 180px;
    width: 180px;
}